@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap");

:root {
  --bg-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
