@import url("https://fonts.cdnfonts.com/css/nintendo-ds-bios");

:root {
  /* main color scheme 60%*/
  --60-federal-blue: #231f60;
  /* complimentary colors 30%*/
  --30-delt-blue: #252c62;
  --30-rebecca-purple: #573b8b;
  /* minor complimentary colors 10% */
  --10-yIMn-blue: #425898;
  --10-royal-blue: #212874;

  /* color variables */
  --body-bg-color: var(--60-federal-blue);
  --header-bg-color: var(--30-rebecca-purple);
  --navmenu-bg-color: var(--10-royal-blue);
  --footer-bg-color: var(--10-yIMn-blue);
  --font-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nintendo DS BIOS", sans-serif;
  color: var(--font-color);
}

body {
  background-color: var(--body-bg-color);
}

header {
  position: fixed;
  z-index: 1;
  background-color: var(--header-bg-color);
  max-height: 6vh;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

header button {
  position: absolute;
  left: 15px;
  background-color: transparent;
  border: none;
  font-size: 0.8em;
}

header label {
  padding: 4px;
  text-align: center;
}

nav {
  display: inline-block;
  height: 100vh;
  min-width: 45px;
  position: fixed;
  top: 6vh;
  background-color: var(--navmenu-bg-color);
  font-size: 24px;
}

nav li a {
  margin: 18px 5% 18px 5%;
  display: flex;
  list-style-type: none;
  text-decoration: none;
  font-size: 1em;
}

nav li a i {
  margin-left: 5px;
  margin-right: 5px;
}

nav li a label {
  margin-left: 20px;
  margin-right: 30px;
  text-align: end;
  display: none;
}

footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  font-size: 16px;
  width: 100vw;
  height: 1em;
  text-align: center;
  background-color: var(--footer-bg-color);
}

/* util class */
.hide {
  visibility: hidden;
}
