@import url("https://fonts.cdnfonts.com/css/nintendo-ds-bios");

:root {
  /* main color scheme 60%*/
  --60-federal-blue: #231f60;
  /* complimentary colors 30%*/
  --30-delt-blue: #252c62;
  --30-rebecca-purple: #573b8b;
  /* minor complimentary colors 10% */
  --10-yIMn-blue: #425898;
  --10-royal-blue: #212874;

  /* color variables */
  --body-bg-color: var(--60-federal-blue);
  --font-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nintendo DS BIOS", sans-serif;
  color: var(--font-color);
}

body {
  background-color: var(--body-bg-color);
}

header {
  position: fixed;
  z-index: 1;
  background-color: var(--30-rebecca-purple);
  max-height: 6vh;
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header label {
  padding: 4px;
  text-align: center;
  font-size: clamp(16px, 5vw, 24px);
}

nav {
  position: relative;
  z-index: 1;
  top: 6vh;
  display: inline-block;
}

nav ul {
  min-width: 25vw;
  min-height: 40vh;
  background-color: green;
}

/* util class */
